pandas
numpy
yfinance
TA-Lib @ https://github.com/cgohlke/talib-builds/releases/download/v0.4.28/TA_Lib-0.4.28-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
scikit-learn
tensorflow
xgboost
plotly
kaleido
requests

flask
